#div_geral {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
  
  
}

#h1 {
  padding-bottom: 20px;
  color: white;
  font-size: 40px;
  font-family: Helvetica;
}

#main {
  margin: 0;
  padding-top: 0;
  background-color: #cc3333;
  width: 550px;
  height: 500px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#formulario {
  background-color: rgb(243, 236, 236);
  width: 400px;
  height: 500px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: Helvetica;
}

#textForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#titulo_main {
  /* padding: 0; */
  color: #cc3333;
  margin: 0;
  font-family: Helvetica;
  font-size: 40px;
  text-align: center;
}

#logo {
  width: 150px;
}
